:root {
  --tab-height-offset: 52px;
}


body {
  background-image: url("LoLmig.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
background-image: url("RivalRed.png");
min-width: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}


.container a {
  display: block;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  justify-content:center;
  border: 1px solid red;
  margin-right: 4px;
  padding: 6px;
}


.container section {
  position: absolute;
  left: 0;
  width: 100%;
}
.container div:target a {
  background-color: grey;
}


.container div:not(:target) section {
  display: none;
}


a {
  background-color: black;
  color: snow;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 160px;
  font-weight: bold;
}

.form-row input,
.form-row select {
  width: 250px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #4a0000;
  background-color: #1f0000; 
  color: snow;
}

select {
  width: 60px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #4a0000;
  background-color: #1a0000;
  color: white;
  appearance: none;
  text-align: center;
}

.content-wrapper {
  background: rgba(20, 20, 20, 0.75);
  min-width: 100vw;
  min-height: calc( 100vh - var(--tab-height-offset));
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  margin-top: 10px;
}

.submitButton input {
    background-color: #8b0000;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.submitButton {
    padding: 20px;
}

label {
  color: white;
}

h3 {
  color: red;
  
}

.Funny {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  font-size: 12px;
}

h1 {
  font-size: 50px;
  color: white;
}

.Red {
  font-weight: bolder;
  color: red;
}

.spontext {
  color: white;
  font-size: 20px;
  font-family: monospace;
}

.dmy {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.dmy input, .dmy select {
  width: 100px;
  max-height: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #4a0000;
  background-color: #1f0000; 
  color: snow;
}

.dmy label {
  width: 120px;
  font-weight: bold;
  padding-bottom: 5px;
}
.hej {
  display: flex;
  flex-direction: column;
}