* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    body {
      font-family: Arial, sans-serif;
      background: #050505;
      color: #ffffff;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    ul {
      list-style: none;
    }

    .container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    header {
      position: sticky;
      top: 0;
      z-index: 1000;
      background: rgba(5, 5, 5, 0.95);
      border-bottom: 1px solid #1b1b1b;
    }
     .navbar {
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .logo span {
      color: #e10600;
    }
      .nav-links {
      display: flex;
      gap: 28px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .nav-links a:hover {
      color: #e10600;
    }

    .hero {
      min-height: 92vh;
      display: flex;
      align-items: center;
      background:
        linear-gradient(to right, rgba(0,0,0,0.92), rgba(0,0,0,0.55)),
        url("https://cdn.egamersworld.com/cdn-cgi/image/width=690,quality=100,format=webp/uploads/content/1/17/1769170210722_resized.jpg")
        center/cover no-repeat;
    }

    .hero-content {
      max-width: 700px;
      padding: 80px 0;
    }

    .eyebrow {
      color: #e10600;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 18px;
      font-weight: bold;
    }

    .hero h1 {
      font-size: 68px;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 22px;
      font-weight: 900;
    }
     .hero p {
      color: #cfcfcf;
      font-size: 18px;
      line-height: 1.8;
      max-width: 600px;
      margin-bottom: 32px;
    }

    .hero-buttons {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }